name: "Build"
on:
  push:
permissions:
  contents: write
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        target: ["desktop", "kindle"]
    steps:
    - uses: actions/checkout@v3
    - uses: cachix/install-nix-action@v20
    - uses: cachix/cachix-action@v12
      with:
        name: rakuyomi
        authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'
    - name: Build plugin
      run: "nix build .#rakuyomi.${{ matrix.target }} -o build/rakuyomi.koplugin"
    - name: Package plugin contents
      run: "cd build && zip -r rakuyomi-${{ matrix.target }}.zip rakuyomi.koplugin"
    - name: Upload plugin to release
      if: ${{ github.ref == 'refs/heads/main' }}
      uses: svenstaro/upload-release-action@v2
      with:
        repo_token: ${{ secrets.GITHUB_TOKEN }}
        file: build/rakuyomi-${{ matrix.target }}.zip
        tag: ${{ github.ref }}
        overwrite: true
  
  generate-settings-schema:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: cachix/install-nix-action@v20
    - uses: cachix/cachix-action@v12
      with:
        name: rakuyomi
        authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'
    - name: Build settings schema
      run: "nix build .#rakuyomi.settings-schema -o build/settings.schema.json"
    - name: Upload settings schema to release
      if: ${{ github.ref == 'refs/heads/main' }}
      uses: svenstaro/upload-release-action@v2
      with:
        repo_token: ${{ secrets.GITHUB_TOKEN }}
        file: build/settings.schema.json
        tag: ${{ github.ref }}
        overwrite: true
