name: "Test"
on:
  push:
  pull_request:
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Install devbox
      uses: jetify-com/devbox-install-action@v0.11.0
      with:
        enable-cache: 'true'
    - name: Check format
      run: devbox run check-format
    - name: Check lint
      run: devbox run check-lint
    - name: Run frontend unittests
      run: devbox run test-frontend